*{
    margin: 0;padding: 0;box-sizing: border-box;
}

table{
    margin: 0 auto;
    border-collapse:collapse ;

}

td,th{
    border-bottom:1px solid black ;
    padding: 1em;
}
.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}
.blue{
    background-color: steelblue;
}

button{
    border: none;
    padding:0.3em 1em ;
    border-radius:0.2em ;

}