<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Phone</th>
            <th>From</th>
            <th>To</th>
            <th>Date of Journey</th>
            <th>No of Tickets</th>
        </tr>
        {% for p in ps %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{p.name}}</td>
            <td>{{p.phone}}</td>
            <td>{{p.From}}</td>
            <td>{{p.To}}</td>
            <td>{{p.dateOfJou}}</td>
            <td>{{p.noOfTickets}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>